<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <events>
            <event name="item:added">
                <handler type="Sitecore.XA.Feature.Composites.EventHandlers.CompositeItemHandler, Sitecore.XA.Feature.Composites" method="OnItemAdded" resolve="true">
                    <patch:attribute name="type">Sitecore.Support.XA.Feature.Composites.EventHandlers.CompositeItemHandler, Sitecore.Support.306223</patch:attribute>
                </handler>
            </event>
            <event name="item:copied">
                <handler patch:after="*[@type='Sitecore.Tasks.ItemEventHandler, Sitecore.Kernel']" type="Sitecore.Support.XA.Feature.Composites.EventHandlers.CompositeItemHandler, Sitecore.Support.306223" method="OnItemCopied" resolve="true"/>
            </event>
        </events>
    </sitecore>
</configuration>